$tool-size: $line-height;
$large-tool-size: $large-line-height;
$tool-inner-size: 14px;

@mixin tool {
    .tool {
        @include inline-block;
        @include unselectable;
        line-height: $tool-size;
        height: $tool-size;
        overflow: hidden;
        
        svg {
            float: left;
            margin: ($tool-size - $tool-inner-size)/2;
            width: $tool-inner-size;
            height: $tool-inner-size;
        }
        .text {
            cursor: pointer;
            margin-left: $tool-size;
            font-size: $font-size;
        }
    
        &.large {
            $vpadding: ($large-tool-size - $tool-size)/2;
            height: $large-tool-size;
            padding: $vpadding 0px;
        }
    
        &.large {
            $vpadding: ($large-tool-size - $tool-size)/2;
            height: $large-tool-size;
            padding: $vpadding 0px;
        }
        
        .svg-main {
            fill: $blue-gray-light;
        }
        
        .text {
            color: $blue-gray-light;
        }
        
        &.has-action {
            cursor: pointer;

            &:hover {
                .svg-main {
                    fill: $blue;
                }

                .text {
                    color: $blue;
                }
            }
        }
    }
    
    .tools {
        .tool {
            float: left;
            display: block;
            margin-right: 7px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}