$tool-size: $line-height;
$large-tool-size: $large-line-height;
$tool-inner-size: 14px;

@mixin tool {
    .tool {
        display: inline-block;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        cursor: default;
        line-height: $tool-size;
        height: $tool-size;
        overflow: hidden;

        svg {
            margin: ($tool-size - $tool-inner-size)/2;
            width: $tool-inner-size;
            height: $tool-inner-size;
        }
        .text {
            cursor: pointer;
            font-size: $font-size;
        }

        &.large {
            $vpadding: ($large-tool-size - $tool-size)/2;
            height: $large-tool-size;
            padding: $vpadding 0px;
        }

        &.large {
            $vpadding: ($large-tool-size - $tool-size)/2;
            height: $large-tool-size;
            padding: $vpadding 0px;
        }

        .svg-main {
            fill: $blue-gray;
        }

        .text {
            color: $blue-gray;
        }

        &.has-action {
            cursor: pointer;

            &:hover {
                .svg-main {
                    fill: $blue;
                }

                .text {
                    color: $blue;
                }
            }
        }

        &.icon-side-left {
            .text {
                margin-left: $tool-size;
            }
            svg {
                float: left;
            }
        }
        &.icon-side-right {
            .text {
                margin-right: $tool-size;
            }
            svg {
                float: right;
            }
        }
    }

    .tools {
        .tool {
            float: left;
            display: block;
            margin-right: 7px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}
